In [10]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()

In [11]:
from sqlalchemy import create_engine

In [17]:
username = "root"
password = "$roo7%!&Fuck" # (or whatever password you chose during mysql installation)
db_name = "sakila"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [18]:
engine = create_engine(connection)

In [19]:
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [23]:
q = """SELECT * from staff;"""

![png]()

In [24]:
pd.read_sql(q, engine)

,staff_id,first_name,last_name,address_id,picture,email,store_id,active,username,password,last_update
0,1,Mike,Hillyer,3,b'\xc2\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\...,Mike.Hillyer@sakilastaff.com,1,1,Mike,8cb2237d0679ca88db6464eac60da96345513964,2006-02-14 12:57:16
1,2,Jon,Stephens,4,None,Jon.Stephens@sakilastaff.com,2,1,Jon,8cb2237d0679ca88db6464eac60da96345513964,2006-02-14 12:57:16